.menubar
  ul
    li 
      a(href='/') home
    li 
      a(href='/api') api
    li 
      a(href='/auth') auth
    li 
      a(href='/ds') ds
    li 
      a(href='/msg') msg
    li 
      a(href='/test') test
    li 
      a(href='/tt') tt
    li 
      a(href='/usr') users
