# standard ignores
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
Thumbs.db
pids
logs
results

# data (also used locally for testing and wip)
data/src/*
data/logs/*

# node modules
node_modules/*

# source files
src/*

# utility files
package-lock.json
npm-debug.log

# CodeKit
*.codekit

# uploaded files
public/dropbox/*
