doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
  body
    block menubar
      include includes/menubar.pug
    block content
    block footer
      include includes/footer.pug
