/*
@IMPORT url('general_foundicons.css');
@IMPORT url('font-awesome.css');
@IMPORT url('foundation.datepicker.css');
@IMPORT url('../dropbox/cdn/toastr/toastr.min.css');
@IMPORT url('../components/angular-macgyver/lib/macgyver.css');
@IMPORT url('ng-tags-input.css');
@IMPORT url('landor-web-fonts.css'); 
*/

body {
  background: lightyellow;
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:visited { 
  background-color: pink; 
}

.egg {
  color: orange;
  font-weight: bold;
}

.priv {
  color: red;
  font-weight: bold;
}

.susp {
  color: gray;
  font-weight: bold;
}

/* dev-menu */
.menubar ul {
  margin: 0;
  padding: 0;
}

.menubar ul li { 
  display: inline;
  padding: 0 8px 0 0;
  font-weight: bold;
}

.copyright {
  color: red;
  font-size: 0.80em;
  text-align: right;
}

/* EOF */