/*
@IMPORT url('general_foundicons.css');
@IMPORT url('font-awesome.css');
*/

body {
  background: lightyellow;
  padding: 50px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:visited { 
  background-color: pink; 
}

.egg {
  color: orange;
  font-weight: bold;
}

.priv {
  color: red;
  font-weight: bold;
}

.susp {
  color: gray;
  font-weight: bold;
}

/* dev-menu */
.menubar ul {
  background: yellow;
  margin: 4px;
  padding: 4px;
}

.menubar ul li { 
  display: inline;
  padding: 0 8px 0 0;
  font-weight: bold;
}

.copyright {
  background: yellow;
  color: red;
  font-size: 0.80em;
  margin: 4px;
  padding: 4px;
  text-align: right;
}

/* EOF */
